:root {
  --primary: #e8c6c7;
  --secondary: #f0eceb;
  --ternary: #c40c4c;
}

body{
  background-color:white;
}

.container{
  border: 2px solid black;
  padding: 20px;
  width: 75%;
  margin:  150px auto;
  display: flex;
  justify-content: center;
}

.left {
  border: 2px solid black;
 
}

.left img{
  width: 100%;
}

.right{
  border: 2px solid black;
  padding: 20px;

}
