{% load static %} {% block css %}

<style>
  .nav-item {
    padding: 15px !important;
  }

  .nav-item a {
    font-size: 20px !important;
  }

  .active ul li a:active{
    color: black;

  }
</style>

{% endblock css %} {% block contents %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light nav-color">
  <a class="navbar-brand" href="#">
    <img
      src=" {% static '/image/logo.png' %} "
      alt=""
      height="70px"
      width="120px"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse active" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'client' %} "
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'services' %} ">Services</a>
      </li>
     
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=" {% url 'dashboard' %} "
          
        >
          Dashboard
        </a>
       
      </li>
    </ul>

    <a href=" {% url 'service-provider' %} " class = "btn btn-outline-dark mr-3">Become a professional</a>
    <a href=" {% url 'logout' %}" class="btn btn-outline-dark">Logout</a>
  </div>
</nav>

{% endblock contents %}
